.header-container {
  max-width: $max-width;
  width: 100%;
  height: 276.2rem;
  position: relative;
  padding-top: 30.2rem;

  @media (max-width: 1620px) {
    height: 254rem;
  }
  @media (max-width: 1000px) {
    height: auto;
  }
  @media (max-width: 740px) {
    padding-top: 16rem;
  }

  img:nth-child(2) {
    position: absolute;
    top: 43.4rem; // Adjust this value as needed
    right: 0;
    @media (max-width: 1000px) {
      top: 19.4rem;
      right: -40px;
      opacity: 0.8;
    }
    @media (max-width: 740px) {
      top: 11.4rem;
      right: 0;
      width: 100%;
      height: 470px;
      object-fit: cover;
    }
  }

  img:nth-child(3) {
    position: absolute;
    top: 116.5rem; // Adjust this value as needed
    right: 28.5rem;
    @media (max-width: 1000px) {
      top: 92.5rem;
      right: 3rem;
      width: 180px;
      height: auto;
    }
    @media (max-width: 740px) {
      top: 60.5rem;
      width: 145px;
    }
  }
  img:nth-child(4) {
    position: absolute;
    top: 116.5rem; // Adjust this value as needed
    right: 58.9rem;
    @media (max-width: 1000px) {
      top: 92.5rem;
      right: 25rem;
      width: 180px;
      height: auto;
    }
    @media (max-width: 740px) {
      top: 75.5rem;
      width: 145px;
      right: 3rem;
    }
  }
  img:nth-child(5) {
    position: absolute;
    top: 116.5rem; // Adjust this value as needed
    right: 88.8rem;
    @media (max-width: 1000px) {
      top: 92.5rem;
      right: 47rem;
      width: 180px;
      height: auto;
    }

    @media (max-width: 740px) {
      top: 90.5rem;
      width: 145px;
      right: 3rem;
    }
  }
}

.main-header-container {
  @include main_container($main_background: $main);
  @media (max-width: 740px) {
    padding: 0;
  }
}

.hero-header-title {
  @include inner_container($max-width: 105.7rem);
  @media (max-width: 1620px) {
    max-width: 105.7rem;
  }
  @media (max-width: 740px) {
    padding-left: 30px;
    gap: 1rem;
  }
  h1 {
    font-size: 14.8rem;
    font-weight: 700;
    line-height: 15.2rem;
    z-index: 2;
    @media (max-width: 1620px) {
      font-size: 9rem;
      line-height: 115%;
    }
    @media (max-width: 740px) {
      font-size: 6rem;
      line-height: 110%;
    }
  }

  p {
    font-family: "Lato";
    font-size: 2.4rem;
    font-weight: 400;
    line-height: 3.36rem; /* 33.6px */
    letter-spacing: 0.48px;
    @media (max-width: 1620px) {
      font-size: 1.8rem;
    }
    @media (max-width: 1320px) {
      z-index: 2;
    }
  }
}

.hero-header-scroll {
  position: relative;
  /* Abs positioning makes it not take up vert space */
  P {
    position: absolute;
    top: -5.4rem;
    left: 0;
    padding-bottom: 3rem;
    /* Border is the new background */
    font-size: 4.8rem;
    font-weight: 700;
    line-height: 6.4rem;

    /* Rotate from top left corner (not default) */
    transform-origin: left;
    transform: rotate(90deg);
    @media (max-width: 740px) {
      overflow: hidden;
      width: 290px;
      top: 5.6rem;
      white-space: nowrap;
    }
  }
}

.header-inner-section {
  @include inner_container($flex-directiom: row, $gap: 0);
  margin-top: 76.1rem;
  @media (max-width: 1000px) {
    flex-direction: column;
    margin-top: 48rem;
    gap: 10rem;
    padding-bottom: 10rem;
  }
  @media (max-width: 740px) {
    margin-top: 67rem;
  }
  @media (max-width: 450px) {
    margin-top: 50rem;
  }
  .first-inner-section {
    @media (max-width: 1620px) {
      img {
        width: 500px;
        height: auto;
      }
    }
    @media (max-width: 1000px) {
      img {
        width: 100%;
      }
    }
  }
  .first-inner-section,
  .second-inner-section {
    @include inner_container($width: 50%);
    @media (max-width: 1000px) {
      width: 100%;
      gap: 1rem;
    }
    h3 {
      font-size: 6.8rem;
      font-weight: 700;
      line-height: 8.4rem;
      @media (max-width: 740px) {
        font-size: 5rem;
        line-height: 110%;
        padding-left: 30px;
        margin-top: 40px;
      }
    }

    p {
      font-family: "Lato";
      font-size: 2.4rem;
      font-weight: 400;
      line-height: 3.36rem; /* 33.6px */
      letter-spacing: 0.48px;
      padding-left: 30px;
    }
  }

  .second-inner-section {
    @media (max-width: 1000px) {
      flex-direction: column-reverse;
      align-items: start;
    }
    align-items: end;
    img {
      position: static;
      @media (max-width: 1000px) {
        width: 100%;
        object-fit: cover;
        object-position: top;
      }
    }

    p {
      display: block;
      width: 50.8rem;
    }
  }
}

//////////////////////////////////
/// CALL TO ACTION SECTION

.call-action-main {
  @include main_container();
  position: relative;
}

.call-container {
  @include inner_container($PXY: 17.6rem 0);

  h2 {
    color: $common-black;
    font-size: 10.8rem;
    font-weight: 700;
    line-height: 12rem; /* 111.111% */
    @media (max-width: 1440px) {
      font-size: 7rem;
    }
  }

  p {
    color: $grey-main;
    /* Body */
    font-family: "Lato";
    font-size: 2.4rem;
    font-weight: 400;
    line-height: 3.36rem; /* 33.6px */
    letter-spacing: 0.48px;
  }

  img {
    position: absolute;
    top: 0;
    right: 0;
  }

  button {
    @include section_button_template();
    border: 2px solid $common-black;
    background: $main;
    @media (max-width: 1440px) {
      width: 27rem;
    }
    &:hover {
      cursor: pointer;
    }
  }

  a {
    padding: 2rem 4.6rem;
    font-size: 3.2rem;
    font-weight: 700;
    line-height: 4.8rem; /* 150% */
    color: $common-white;
    text-decoration: none;
    @media (max-width: 1440px) {
      padding: 1rem 4.6rem;
    }
  }
}

//////////////////////////////////
/// FIRST AD

.advertising-first-container {
  @include main_container($main_background: $main-4);

  .ad-container {
    @include inner_container(
      $PXY: 23.4rem 0,
      $gap: 6rem,
      $flex-directiom: row,
      $color: $common-black
    );
    padding-bottom: 0;
    position: relative;
    @media (max-width: 1000px) {
      flex-direction: column;
      padding-bottom: 7rem;
    }
    .ad-img-container {
      z-index: 2;
      img {
        @media (max-width: 1620px) {
          width: 600px;
          height: auto;
        }
        @media (max-width: 1000px) {
          width: 100%;
        }
      }
    }

    h3 {
      font-size: 10.8rem;
      font-weight: 700;
      line-height: 12rem; /* 111.111% */
      @media (max-width: 1620px) {
        font-size: 7rem;
      }
      @media (max-width: 1320px) {
        line-height: 100%;
      }
    }

    p {
      font-family: var(--lato);
      font-size: 2.4rem;
      font-weight: 400;
      line-height: 3.36rem; /* 33.6px */
      letter-spacing: 0.48px;
    }

    .ad-information-container {
      display: flex;
      flex-direction: column;
      gap: 2rem;
    }
    img:nth-child(3) {
      position: absolute;
      bottom: 30px;
      right: 0;
      @media (max-width: 1620px) {
        width: 355px;
        height: auto;
      }
      @media (max-width: 740px) {
        display: none;
      }
    }
    img:nth-child(4) {
      position: absolute;
      top: 71px;
      left: 0;
      z-index: 1;
    }
  }
}

/////////INFORMATION SECTION
///

.information-container-main {
  @include main_container();
  position: relative;
  @media (max-width: 1000px) {
    padding-top: 10rem;
    padding-bottom: 10rem;
  }
}

.informattion-container-home {
  @include inner_container($flex-directiom: row, $gap: 6rem);
  height: 86.7rem;
  align-items: center;
  @media (max-width: 1440px) {
    gap: 4rem;
  }
  @media (max-width: 1000px) {
    overflow-x: scroll;
    overflow-y: hidden;
    height: auto;
    padding-bottom: 3rem;
    gap: 9rem;
  }
}

.card-information-container {
  width: 100%;
  color: $common-black;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  gap: 3.9rem;
  height: 500px;
  @media (max-width: 1000px) {
    height: auto;
    img {
      width: 500px;
      object-fit: scale-down;
    }
  }
  h3 {
    text-align: center;
    font-size: 4.8rem;
    font-weight: 700;
    line-height: 6.4rem; /* 133.333% */
    @media (max-width: 1440px) {
      font-size: 3.8rem;
    }
  }

  p {
    text-align: center;
    font-family: var(--lato);
    font-size: 2.4rem;
    font-weight: 400;
    line-height: 3.36rem; /* 33.6px */
    letter-spacing: 0.48px;
  }
}

/////////BLOG SECTION
///

.blog-container-main {
  @include main_container();
  position: relative;
  @media (max-width: 1000px) {
    padding-bottom: 10rem;
  }
  .blog-container-home {
    @include inner_container($flex-directiom: row, $gap: 6rem);
    height: 156rem;
    align-items: center;
    justify-content: center;
    @media (max-width: 1680px) {
      height: 138rem;
    }
    @media (max-width: 1440px) {
      height: 120rem;
    }
    @media (max-width: 1000px) {
      overflow-x: scroll;
      overflow-y: hidden;
      height: auto;
      justify-content: flex-start;
    }
    @media (max-width: 740px) {
      gap: 4rem;
    }
  }
}

.card-blog-container {
  width: 100%;
  color: $common-black;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  height: 125rem;
  @media (max-width: 1440px) {
    justify-content: flex-start;
    height: 105rem;
  }
  @media (max-width: 740px) {
    height: 70rem;
  }

  img {
    margin-bottom: 6.8rem;
    @media (max-width: 1680px) {
      width: 560px;
      height: auto;
      margin-bottom: 4rem;
    }
    @media (max-width: 740px) {
      width: 70vw;
    }
  }

  .information-blog-container {
    width: 100%;
    padding: 0 7.5rem;

    @media (max-width: 1440px) {
      padding: 0 4rem;
    }
    @media (max-width: 740px) {
      padding: 0;
    }

    h3 {
      font-size: 4.8rem;
      font-weight: 700;
      line-height: 6.4rem; /* 133.333% */
      border-bottom: 4px dotted black;
      margin-bottom: 1.8rem;

      @media (max-width: 1440px) {
        font-size: 3rem;
        line-height: 115%;
      }
    }

    p {
      font-family: var(--lato);
      font-size: 2.2rem;
      font-weight: 700;
      line-height: 3.8rem; /* 30.8px */
      letter-spacing: 0.44px;
      margin-bottom: 4.6rem;

      @media (max-width: 1440px) {
        margin-bottom: 4rem;
      }
    }

    button {
      border: none;
      background-color: transparent;
      a {
        text-decoration: none;
        color: $common-black;
        display: flex;
        align-items: center;
        span {
          /* Body */
          font-family: var(--lato);
          font-size: 2.4rem;
          font-style: normal;
          font-weight: 400;
          line-height: 140%; /* 33.6px */
          letter-spacing: 0.48px;
        }
        svg {
          width: 4.8rem;
          height: 2.8rem;
        }
      }
    }
  }
}

///CALL TO MENU

.calltomenu-container-main {
  @include main_container();
  .calltomenu-inner-container {
    @include inner_container($gap: 12.6rem, $color: $common-black);
    height: 139.4rem;
    align-items: center;
    justify-content: center;
    @media (max-width: 1000px) {
      height: auto;
      padding-top: 10rem;
      padding-bottom: 10rem;
    }
    @media (max-width: 740px) {
      height: auto;
      padding-top: 10rem;
      padding-bottom: 10rem;
      gap: 5rem;
    }

    .information-calltomenu-container {
      width: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 1.8rem;
      h2 {
        font-size: 10.8rem;
        font-weight: 700;
        line-height: 12rem; /* 111.111% */
        @media (max-width: 1440px) {
          font-size: 7rem;
        }
        @media (max-width: 1000px) {
          font-size: 6.3rem;
          line-height: 110%;
        }
        @media (max-width: 740px) {
          font-size: 5rem;
        }
      }

      p {
        color: $grey-main;
        font-family: var(--lato);
        font-size: 2.4rem;
        font-weight: 400;
        line-height: 3.36rem; /* 33.6px */
        letter-spacing: 0.48px;
      }
    }

    .calltomenu-cards-container {
      display: flex;
      gap: 6rem;
      width: 100%;
      @media (max-width: 1000px) {
        overflow-x: scroll;
        overflow-y: hidden;
        height: auto;
        padding-bottom: 4rem;
      }
    }
  }
}

// ---------------Card call to menu

.calltomenu-card-link {
  width: 100%;
  text-decoration: none;
}

.calltomenu-card-container {
  position: relative;
  width: 100%;
  height: 71rem;
  padding-top: 4.8rem;
  padding-left: 4rem;
  padding-right: 4rem;
  @media (max-width: 1000px) {
    width: 65vw;
  }
  @media (max-width: 740px) {
   height: 31rem;
  }
  &::after{
    content: '';
    position: absolute;
    background-color: rgba(0, 0, 0, 0.1);
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
  }

  .title-calltomenu {
    display: flex;
    align-items: center;
    justify-content: space-between;

    h2 {
      color: $main;
      font-size: 4.8rem;
      font-weight: 700;
      line-height: 6.4rem; /* 133.333% */
      @media(max-width: 740px){
        font-size: 3rem;
      }
    }
  }
}

/**Testiomnials**/

/*******************Testimonial Card*********************/

.styles-module_item-tracker__3bypy {
  gap: 4rem;
}

.testimonial-container-main {
  @include main_container($main_background: $main-4);
  height: 111.3rem;
  display: flex;
  align-items: center;
  @media (max-width: 1440px) {
    height: 90rem;
  }

  .testimonials-inner-container {
    @include inner_container($gap: 5rem, $color: $common-black);
    h3 {
      font-size: 10.8rem;
      font-weight: 700;
      line-height: 12rem;
      @media (max-width: 1440px) {
        font-size: 7rem;
        line-height: 115%;
      }
      @media (max-width: 740px) {
        font-size: 5rem;
        line-height: 115%;
      }
    }
    .card-testimonial-container {
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      gap: 2rem;
      height: 100%;
      width: 100%;
      padding: 35px;
      border: 1px solid rgba(255, 255, 255, 0.25);
      border-radius: 20px;
      background-color: rgba(255, 255, 255, 0.45);
      box-shadow: 0 0 10px 1px rgba(0, 0, 0, 0.25);

      backdrop-filter: blur(15px);

      .information-testimonial-container {
        font-size: 3.2rem;
        font-weight: 700;
        line-height: 4.8rem;

        p {
          padding-left: 7px;
        }

        .stars-container {
          svg {
            color: #fdcc0d;
          }
        }
      }

      .comment-testimonial-container {
        font-size: 4.8rem;
        font-weight: 700;
        line-height: 6.4rem;
        @media (max-width: 1440px) {
          font-size: 3rem;
          line-height: 115%;
        }
      }
    }
  }
}
