@font-face {
    font-family: "FrankRuhl";
    src: url("/fonts/FrankRuhlLibre-Regular") format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: "FrankRuhlBold";
    src: url("/fonts/FrankRuhlLibre-Bold") format('truetype');
    font-weight: normal;
    font-style: normal;
}
