@font-face {
    font-family: "Rufina";
    src: url("/fonts/Rufina/Rufina-Regular") format("truetype");
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: "RufinaBold";
    src: url("/fonts/Rufina/Rufina-Bold") format("truetype");
    font-style: normal;
    font-weight: 700;
}
@font-face {
    font-family: "Lato";
    src: url("/fonts/Lato/Lato-Regular") format("truetype");
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: "LatoBold";
    src: url("/fonts/Lato/Lato-Bold") format("truetype");
    font-style: normal;
    font-weight: 700;
}
