@import "variables.scss";
@import "mediaQuery.scss";
@import "mixins.scss";
// modules
@import '_home.scss';
@import '_blog.scss';
@import 'components/cover.scss';
@import 'components/navComponent.scss';
@import 'components/footer.scss';
@import 'components/headerComponent.scss';
@import 'components/openTime.scss';
@import 'components/menu.scss';
@import 'components/about.scss';
@import 'components/contact.scss';
@import 'components/staff.scss';
@import 'components/reservation.scss';
@import 'components/videoBanner.scss';
@import 'components/process.scss';

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    font-family: var(--rufina) , sans-serif;
    line-height: 1;
    font-weight: 400;
    color: $common-black;
    overflow-x: hidden
  }

html {
    /* 10px/16px = 0.625 */
    font-size: 62.5%;
    overflow-x: hidden;
}

.main-container-template {
    transition: all 1s ease-in-out;
    opacity: 1;
    visibility: visible;

    &.hide {
        opacity: 0;
        visibility: hidden;
        overflow: hidden;
    }
}
