@import 'variables.scss';
@import 'mediaQuery.scss';
@import 'mixins.scss';
// modules
@import '_home.scss';
@import 'components/cover.scss';
@import 'components/menuComponent.scss';

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: var(--rufina);
}

html {
    /* 10px/16px = 0.625 */
    font-size: 62.5%;
    overflow-x: hidden;
}

