//Mixins

@mixin main_container($main_background: white) {
    width: 100%;
    padding: 0 $XL;
    background-color: $main_background;

    @media (max-width: 1440px) {
        padding: 0 $BP;
    }
}

@mixin inner_container($width:100%, $max-width:$max-width, $display:flex, $flex-directiom: column, $gap: 5rem, $background-color: transparent, $PXY: 0 0 ,$color: #fff ){
    width: $width;
    max-width: $max-width;
    background-color: $background-color;
    padding: $PXY;
    color: $color;
    display: $display;
    flex-direction: $flex-directiom;
    gap: $gap;
    @media (max-width: 1440px) {
        max-width: $med-width;
    }    
}

@mixin section_button_template( $width:34.4rem, $PXY: 0 0){
    display: flex;
    width: $width;
    padding: $PXY;
    justify-content: center;
    align-items: center;
}

