// Colors
$main-color: #EDEDE9;
$secondary-color: #D6CCC2;
$third-color: #F5EBE0;
$fourth-color: #E3D5CA;
$fith-color: #D5BDAF;

// Padding sizes
$XL: 7rem;
$LG: 4rem;
$MD: 3rem;
$SM: 2rem;
$XS: 1rem;

//Shadows 
$primary-shadow: 0 0.5rem 1.5rem rgba(0, 0, 0, 0.2);

// Media Queries
$max-width: 144rem;