// Colors
$main: #233000;
$main-2: #5E6600;
$main-3: #9CAA00;
$main-4: #EBF0E4;
//Greys
$grey-main: #4D4D4D;
$grey-soft: #B0B0B0;
//Common
$common-white: #ffffff;
$common-black: #000000;

// Padding sizes
$XL: 13.8rem;
$LG: 4rem;
$MD: 3rem;
$SM: 2rem;
$XS: 1rem;

//Shadows
$primary-shadow: 0 0.5rem 1.5rem rgba(0, 0, 0, 0.2);

// Media Queries
$max-width: 192rem;
