.admin-general-header {
  padding: 2rem;
  border-bottom: 1px solid $grey-main;
  display: flex;
  justify-content: space-between;
  .admin-general-header__title {
    font-size: 5rem;
    font-weight: 700;
    text-align: left;
    font-family: var(--lato);
  }
  button {
    height: 6rem;
    width: fit-content;
    cursor: pointer;
    font-size: 2rem;
    font-weight: 700;
    text-align: center;
    font-family: var(--lato);
    padding: 0 4rem;
    border: 1px solid $grey-soft;
    border-radius: 0.5rem;
    background-color: $main-3;
    color: $common-white;
  }
}
.admin-general-container {
  overflow: auto;
  height: calc(100vh - 10rem);
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-auto-rows: min-content;
  grid-gap: 2rem;
  padding: 2rem;
  &__card {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    height: 25rem;
    padding: 2rem;
    background-color: $main-4;
    box-shadow: $primary-shadow;
    label {
      font-size: 2rem;
      font-weight: 700;
      text-align: left;
      font-family: var(--lato);
      margin-bottom: 4rem;
    }
    input {
      width: 100%;
      height: 3rem;
      font-size: 2rem;
      font-weight: 700;
      text-align: left;
      font-family: var(--lato);
      margin-bottom: 1rem;
      padding: 0 1rem;
      border: 1px solid $grey-soft;
      border-radius: 0.5rem;
      background-color: $main-4;
    }
  }
}
.data-admin-container {
  padding: 2rem;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  .admin-form-container-create {
    display: flex;
    padding: 3rem 2rem;
    flex-direction: column;
    border-radius: 2rem;
    gap: 2rem;
    background-color: $main-4;
    &__card {
      display: flex;
      label {
        font-size: 2rem;
        font-weight: 700;
        text-align: left;
        font-family: var(--lato);
        width: 10%;
      }
      input {
        width: 70%;
        height: 3rem;
        font-size: 2rem;
        font-weight: 700;
        text-align: left;
        font-family: var(--lato);
        margin-bottom: 1rem;
        padding: 0 1rem;
        border: 1px solid $grey-soft;
        border-radius: 0.5rem;
        background-color: $main-4;
      }
    }
  }
  .update {
    overflow: auto;
    height: 56vh;

    &__container {
      display: flex;
      align-items: center;
      padding-bottom: 4rem;
      border-bottom: 1px solid $grey-soft;
      &__form {
        width: 80%;
      }
      &__button {
        width: 20%;
        display: flex;
        flex-direction: column;
        gap: 1rem;     
        button {
          height: 8rem;
          width: 12rem;      
          right: 0;
          cursor: pointer;
          font-size: 1.5rem;
          font-weight: 700;
          text-align: center;
          font-family: var(--lato);
          padding: 0 2rem;
          border: 1px solid $grey-soft;
          border-radius: 0.5rem;
          background-color: $main-3;
          margin: 0 auto;
        }
        .delete {
          background-color: red;
        }
      }
    }
  }
}
