.footer {
  background-color: $main;
  color: $common-white;
  display: flex;
  flex-direction: column;
  &__up {
    padding: $XL;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    @media(max-width:1440px){
      padding-left: $BP;
      padding-right: $BP;
    }
    @media(max-width:1280px){
      padding-left: $MA;
      padding-right: $MA;
    }
    &__logo {
      width: 26%;
    }
    &__contact {
      display: flex;
      flex-direction: column;
      width: 26%;
      .text {
        font-size: 1.8rem;
        font-weight: 400;
        font-family: var(--lato);
      }
      &__title {
        font-family: var(--rufina);
        font-size: 3.2rem;
        line-height: 4.8rem;
        font-weight: 700;
        margin-bottom: 4rem;
      }
      &__email {
        margin-bottom: 2rem;
      }
    }
    &__subscribe {
      width: 48%;
      display: flex;
      flex-direction: column;
      &__title {
        font-family: var(--rufina);
        font-size: 3.2rem;
        line-height: 4.8rem;
        font-weight: 700;
        margin-bottom: 5rem;
      }
      &__form {
        height: 7.6rem;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        input {
          width: 70%;
          height: calc(100% - 4px);
          border: 2px solid $common-white;
          padding: 3.5rem;
          color: $common-white;
          font-size: 2.4rem;
          font-weight: 400;
          font-family: var(--lato);
          background-color: $main;
          margin-right: 2rem;
          &::placeholder {
            color: $common-white;
          }
        }
        button {
          all: unset;
          cursor: pointer;
          height: 100%;
          width: 30%;
          background-color: $main-2;
          font-size: 3.2rem;
          display: flex;
          justify-content: center;
          align-items: center;
        }
      }
      &__text {
        margin-top: 0.5rem;
        font-size: 1.4rem;
        font-family: var(--lato);
      }
    }
  }
  &__down {
    border-top: 2px dotted $common-white;
    padding: $LG $XL;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
    @media(max-width:1440px){
      padding-left: $BP;
      padding-right: $BP;
    }
    @media(max-width:1280px){
      padding-left: $MA;
      padding-right: $MA;
    }
    &__left {
      font-family: var(--lato);
      font-size: 2.4rem;
    }
    &__right {
      display: flex;
      gap: 2rem;
      font-size: 2.8rem;
    }
  }
}
